#jitdetail {
	color: white;
    background-color: black;
	overflow:auto;
	line-height:normal;
}

#jitdetail figure div.image img {
	max-height: 50%;
	max-width: 100%;	
}

#jitdetail .title {
	font-size:20px;
}

#jitdetail figcaption {
	color:gray;
}

#jitdetail figcaption a:link {
	color:gray;
}
#jitdetail figcaption a:visited {
	color:gray;
}
