html,body {
	margin:0px;	
	height:100%;
	overflow:hidden;
}

#thejit {
	position:absolute;
	left:0px;
	top:0px;
	width:60%;
	height:100%;
}

#right {
	position:absolute;
	left:60%;
	top:0px;
	margin-left:1%;
	margin-top:1px;
	width:39%;
	height:100%;
	overflow:hidden;
	padding-left:1px;
}

#tabs {
	height:12px;
	margin:0px;
	margin-bottom:1px;
	padding: 5px 0px;	
}

#tabs li {
	display:inline;
}

.tab {
	position:relative;
	padding: 5px 1em 5px 0.5em;
	margin-right:-1em;
}

.tab.selected {
	z-index:1;
}


#right > div {
	position:absolute;
	width:100%;
	height:100%;
	padding-right:5;
}

#options form div.row {
	clear: both;
}

#options form .col {
	display: inline-block;
	margin-right: 1em;
	vertical-align: baseline;
}

#options form .col1 {
	text-align: right;
	width: 8em;
}

#options form .col2 {
	width: 5em;
}

#options form .col3 {
	text-align: right;
	width: 3em;
}

#options form .col4 {
	width: 5em;
}

#options form input {
	font-size:12px;
}

#colorVariableMinLabel {
	float:left;	
}

#colorVariableMaxLabel {
	float:right;	
}

#gradientBar {
	height:20px;
	border: 1px solid white;
}

/*I'll hide the color range controls from the user for now.  The utility is low, good defaults should work, and the controls confuse people.*/
#colorRange, #colorVariableRange {
	display:none;
}

fieldset {
	margin-top: 1em;
}

.overlay {
	position:absolute;
	z-index: 1;
}

#splash {
	display:none;
	z-index: 2;
}