html, body {
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    background-color:black;
}

a:link {
	color:white;
}
a:visited {
	color:white;
}

a img {
	border:none;
}

.loading {
	background: url(../images/ajax-loader.gif) no-repeat center center;
}

#right {
	background-color:black;
}

#right > div {
	color: white;
    background-color: black;
	overflow:auto;
	border: 1px solid gray;
}

#tabs {
	background-color:black;
}

.tab {
	font-size:12px;
	text-decoration:none;
	background-color:gray;
	border: 1px solid black;
	-moz-border-radius: 5px 10px 0px 0px;
	-webkit-border-radius: 5px 10px 0px 0px;
}

.tab.selected, .tab.hover {
	background-color:silver;
}

#search-results div.nav {
	padding:5px;	
}

#search-results span.prev {
	margin-right: 1em;
}

#search-results span.next {
	margin-left: 1em;
}

#search-results span.active {
	cursor: pointer;
	text-decoration: underline;
}

#search-results span.inactive {
	color:gray;
}

#search-results .match-text {
	background-color: gray;
}

.transparent {
	opacity:0.6;
}

.overlay {
	background-color:black;
	color:white;
}

#splash h1, #splash h2 {
	text-align: center;
}