html, body {
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    background-color:black;
}

a:link {
	color:white;
}
a:visited {
	color:white;
}

a img {
	border:none;
}

.loading {
	background: url(../images/ajax-loader.gif) no-repeat center center;
}

#right {
	background-color:gray;
}

#right > div {
	color: white;
    background-color: black;
	overflow:auto;
}

#tabs {
	background-color:black;
}

.tab {
	font-size:12px;
	text-decoration:none;
	background-color:gray;
}

.tab.selected, .tab.hover {
	background-color:silver;
}