/* Required for the JIT treemap layout */
.treemap-container div {
	position:absolute;
}

/* Other styling */
.treemap-container {
	line-height:normal;
	text-align: center;
	color: #fff;
}

.treemap-container div.content {
    background-color:#555;
	overflow:hidden;
}

.treemap-container div.head {
	font-size:16px;
    color:white;
    background-color:black;
    white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.treemap-container div.head.highlight {
	background-color:silver;	
}

.treemap-container > div.content > div.head {
	background-color: gray;
	direction:rtl; /* When the breadcrumb list becomes too long, it will scroll off to the left, and the current node name will stay visible on the right */
}

.treemap-container div.body {
    background-color:black;
	overflow:hidden;
}

.treemap-container a.body {
	text-decoration: none;
}

.treemap-container div.leaf {
    color:white;
    background-color:#111;
    display:table-cell;
    vertical-align:middle;
    border:1px solid #000;
}

.treemap-container img {
	overflow:hidden;
}

.treemap-container .head .ancestors {
	font-size:70%;
}

.treemap-container .head a.ancestor {
	text-decoration: none;
}