/* Required for the JIT treemap layout */
.treemap-container div {
	position:absolute;
}

/* Other styling */
.treemap-container {
	line-height:normal;
	text-align: center;
    color:white;
}

.treemap-container div.content {
	border:1px solid #505050;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	overflow:hidden;
}

.treemap-container div.content.highlight {
	border-color: white;
}

.treemap-container div.head {
    white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-size:16px;
}

.treemap-container div.body {
	overflow:hidden;
	font-size:10px;
}

.treemap-container a.body {
	text-decoration: none;
}

.treemap-container div.leaf {
    color:white;
    background-color:#111;
    display:table-cell;
    vertical-align:middle;
    border:1px solid #000;
}

.treemap-container img {
	overflow:hidden;
}

.treemap-container.hide-images .body-image {
	display:none;
}

.treemap-container .head .ancestors {
	font-size:70%;
}

.treemap-container .head a.ancestor {
	text-decoration: none;
}

.treemap-container span.breadcrumbs {
	position:absolute; 
	right:10px;
}

.treemap-container img.freeze-indicator {
	position: absolute;
	width: 32px;	
}

.tip {
	background-color:white;
	color:black;
	padding:10px;	
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.overlay {
	position:absolute;
	background-color:black;
	opacity:0.6;
}
