#thejit .loading {
	background: url(../images/ajax-loader.gif) no-repeat center center;
}

#thejit div{
    overflow:hidden;
}

#thejit img {
	display:block;
	overflow:hidden;
}

#thejit .content {
	position:absolute;
    background-color:#555;
    border:0px solid #111;
}

#thejit .head {
	position:absolute;
    color:white;
    background-color:#444;
	direction:rtl;
	overflow:visible;
}

#thejit .title {
	font-size:18px;
}

#thejit .breadcrumb {
	font-size:9px;
}

#thejit .breadcrumb a{
	cursor:pointer;
}

#thejit .head.in-path {
    background-color:#655;
}

#thejit .body {
	position:absolute;
    background-color:black;
}

#thejit .leaf {
	position:absolute;
    color:white;
    background-color:#111;
    display:table-cell;
    vertical-align:middle;
    border:1px solid #000;
}


#thejit .over-leaf {
    border:1px solid #9FD4FF; 
}

#thejit .over-content {
    background-color: #9FD4FF;
}

#thejit .over-head { 
    background-color:#A4D9FF;
    color:black;
}