.vole-view-nested {
	div.node {
		position: absolute;
		overflow: hidden;
		
		&.root {
			left: 0px;
		    right: 0px;
		    top: 0px;
		    bottom: 0px;
		}
		
		&.hidden {
			display:none;
		}
	}
	
	div.head {
		position:absolute;
		height:20px;
		width:100%;
		margin-left: 3px;
		margin-right: 3px;
		overflow: hidden;
		
		> span {
			position: absolute;
			left:0px;
			height: 100%;
			bottom: 0;	
		}
	}
	
	a.breadcrumb.ancestor {
		cursor: pointer;
	}
	
	div.body {
		position: absolute;
		top:20px;
		bottom:0px;
		width: 100%;
		overflow: hidden;
	}
	
	img.resizable {
		position:absolute;
	}
}