#thejit .loading {
  background: url(../images/ajax-loader.gif) no-repeat center center;
}

#thejit div{
    overflow:hidden;
    font-size:18px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;    
}

#thejit img.node {
	display:block;
}

#thejit .content {
	position:absolute;
    background-color:#555;
    border:0px solid #111;
}

#thejit .head {
	position:absolute;
    color:white;
    background-color:#444;
	white-space:nowrap;
	direction:rtl;
}

#thejit .breadcrumb {
	font-size:9px;
}

#thejit .breadcrumb a{
	cursor:pointer;
}

#thejit .head.in-path {
    background-color:#655;
}

#thejit .body {
	position:absolute;
    background-color:black;
}

#thejit .leaf {
	position:absolute;
    color:white;
    background-color:#111;
    display:table-cell;
    vertical-align:middle;
    border:1px solid #000;
}


#thejit .over-leaf {
    border:1px solid #9FD4FF; 
}

#thejit .over-content {
    background-color: #9FD4FF;
}

#thejit .over-head { 
    background-color:#A4D9FF;
    color:black;
}

/*TOOLTIPS*/
.tip {
    color: #fff;
    width: 500px;
    background-color: black;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

.tip img {
	width: 500px;
	display:block;
}

.tip-title {
	font-size:20px;
}

input {
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;

}