html, body {
    margin:0;
    padding:0;
    font-family: "Lucida Grande", Verdana;
    font-size: 0.9em;
    text-align: center;
    background-color:#F2F2F2;
}

#thejit {
	width:60%;
	height:100%;
	float:left;
	line-height:normal;
	color: #fff;
}

#jitdetail {
	padding-left:1%;
	padding-right:1%;
	width:38%;
	height:100%;
	float:left;
	color: #fff;
    background-color: black;
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	overflow:auto;
	line-height:normal;
}

#jitdetail img {
	width:100%;
	display:block;
}

a:link {color:white;}
a:visited {color:white;}