<!-- Maps EOL API json hierarchy_entries responses into nested <div>s, each 
	with a head and body div. The body div contains the node's children, if any. 
-->

<script id="root" type="x-jquery-tmpl">
	<div class='node selectable root' id='${$item.getID()}'>
		{{tmpl($item.data, $item.helper) '#head-breadcrumb'}}
		{{tmpl($item.data, $item.helper) '#body'}}
	</div>
</script>

<script id="node" type="x-jquery-tmpl">
	{{if $item.displayableNode()}}
		<div class='node selectable' id='${$item.getID()}'>
			{{tmpl($item.data, $item.helper) '#head'}}
			{{tmpl($item.data, $item.helper) '#body'}}
		</div>
	{{/if}}
</script>

<script id="head" type="x-jquery-tmpl">
	<div class='head'>
		<span>${$item.getName()}</span>
	</div>
</script>

<script id="body" type="x-jquery-tmpl">
	<div class='body'>
		{{if $item.hasChildren()}}
			{{tmpl($item.getChildren(), $item.helper) '#node'}}
		{{else}}
			
		{{/if}}
	</div>
</script>

<script id="head-breadcrumb" type="x-jquery-tmpl">
	<div class='head'>
		<span class='breadcrumbs'>
			<span class='breadcrumb current'>${$item.getName()}</span>

			<span class='breadcrumb ancestors'>
				{{tmpl($item.getAncestors(), $item.helper) '#breadcrumb-ancestor'}}
			</span>
			
		</span>
	</div>
</script>

<script id="breadcrumb-ancestor" type="x-jquery-tmpl">
${' < '}<a class='breadcrumb ancestor'id='${$item.getID()}'>${$item.getName()}</a>
</script>