<!-- 
Maps EOL API json hierarchy_entries responses into nested <div>s, each with a 
head and body div. The body div contains the node's children, if any. 

Note: Layout helper script assumes jQuery 
-->

<script id="root" type="x-jquery-tmpl">
	<div class='node selectable root' id='${$item.getID()}'>
		{{tmpl($item.data, $item.helper) '#head-breadcrumb'}}
		{{tmpl($item.data, $item.helper) '#body'}}
	</div>
</script>

<script id="node" type="x-jquery-tmpl">
	{{if $item.displayableNode()}}
		<div class='node selectable' id='${$item.getID()}'>
			{{tmpl($item.data, $item.helper) '#head'}}
			{{tmpl($item.data, $item.helper) '#body'}}
		</div>
	{{/if}}
</script>

<script id="head" type="x-jquery-tmpl">
	<div class='head'>
		<span>${$item.getName()}</span>
	</div>
</script>

<script id="body" type="x-jquery-tmpl">
	<div class='body'>
		{{if $item.hasChildren()}}
			{{tmpl($item.getChildren(), $item.helper) '#node'}}
		{{/if}}
	</div>
</script>

<script id="head-breadcrumb" type="x-jquery-tmpl">
	<div class='head'>
		<span class='breadcrumbs'>
			<span class='breadcrumb current'>${$item.getName()}</span>

			<span class='breadcrumb ancestors'>
				{{tmpl($item.getAncestors(), $item.helper) '#breadcrumb-ancestor'}}
			</span>
			
		</span>
	</div>
</script>

<script id="breadcrumb-ancestor" type="x-jquery-tmpl">
	${' < '}<a class='breadcrumb ancestor'id='${$item.getID()}'>${$item.getName()}</a>
</script>

<script>
	(function () {
		var name = 'nested',
			rootTemplateID = 'root',
			nodeTemplateID = 'node',
			layoutOps = {
				setBounds: function setBounds(node, bounds) {
					bounds = {
						x:Math.round(bounds.x),
						y:Math.round(bounds.y),
						width:Math.round(bounds.width),
						height:Math.round(bounds.height)
					}
					var borderWidth = 1,
					image = {};
					//TODO check actual border width once at startup
					
					node = jQuery(node);
					node.css({'left':bounds.x, 'top':bounds.y});
					node.height(bounds.height - 2 * borderWidth);
					node.width(bounds.width - 2 * borderWidth);
					//node.resize();

					//if body contents is an image (i.e. node is displayed as a leaf) resize the image
					image = node.children("div.body").children("img.resizable")[0];
					if (image) {
						image.resizeToFill();
					}
				},
			
				/* takes a DOM div.node and returns its div.node children (not the 
				 * immediate DOM children, which would just be the header and body 
				 * container) 
				 */
				getLayoutChildren: function getLayoutChildren(node) {
					var childContainer = jQuery(node).children("div.body").first();
					return jQuery.makeArray(childContainer.children("div.node"));
				},
			
				/* takes a DOM div.node and returns the bounds of its child container */
				getLayoutBounds: function getLayoutBounds(node) {
					var childContainer = jQuery(node).children("div.body").first();
					return {
						x: 0,
						y: 0,
						width: childContainer.width(),
						height: childContainer.height()
					};
				}
			};

		//TODO add methods to setup and tear down the event handlers
		jQuery("div.node, a.breadcrumb.ancestor").live("click", function(){
			vole.view(this.id);
			return false; //only innermost node handles event
		});

		jQuery(window).resize(function resize() {
			vole.resize();
			return false;
		});

		HTMLImageElement.prototype.resizeToFill = function resizeToFill() {
			var jq = jQuery(this),
				container = jq.parent()[0],
				imageAR = this.naturalWidth / this.naturalHeight,
				containerAR = container.clientWidth / container.clientHeight,
				overlapPercent;

			if (imageAR >= containerAR) {
				//image aspect ratio is wider than container: fit height
				jq.css("top", "auto");
				jq.css("height", "100%");

				//center overlapping width
				jq.css("width", "auto");
				overlapPercent = 50 * (imageAR / containerAR - 1);
				jq.css("left", -overlapPercent + "%");
			} else {
				//image aspect ratio is taller than container: fit width
				jq.css("left", "auto");
				jq.css("width", "100%");

				//center overlapping height
				jq.css("height", "auto");
				overlapPercent = 50 * (containerAR / imageAR - 1);
				jq.css("top", -overlapPercent + "%");
			}
		};
		
		vole.addView(name, rootTemplateID, nodeTemplateID, layoutOps);
	})();
</script>