<!-- 
Templates for various context panels.  These templates will deal specifically 
with EOL content.
-->
<script id="right_tmpl" type="x-jquery-tmpl">
	<div id='right'>
		<ul id='tabs'>
			<li><a class='tab' href='#detail'>Detail</a></li>
			<li><a class='tab' href='#statistics'>Stats</a></li>
			<li><a class='tab' href='#search'>Search</a></li>
			<li><a class='tab' href='#options'>Options</a></li>
			<li><a class='tab' href='#help'>Help</a></li>
		</ul>

		<div id='panels'>
			{{tmpl '#detail_tmpl'}}
			{{tmpl '#statistics_tmpl'}}
			{{tmpl '#search_tmpl'}}
			{{tmpl '#options_tmpl'}}
			{{tmpl '#help_tmpl'}}
		</div>
	</div>
</script>

<!-- Takes an EOL pages API response, preferably with at least one image and one text dataObject -->
<script id="detail_tmpl" type="x-jquery-tmpl">
	<div class='panel' id='detail'>
		<p class='help'>Move the mouse pointer over a node in the left panel to see images 
		and descriptions.</p>

		{{if scientificName}}
			<h1 id="detail-title">${scientificName}</h1>
			<h2 id="detail-subtitle">${$item.getVernacularName()}</h2>

			{{tmpl($item.getDataObjects("StillImage")[0]) "#detail_image_tmpl"}}
			{{tmpl($item.getDataObjects("Text")[0]) "#detail_description_tmpl"}}

		{{/if}}
	</div>
</script>

<!-- Takes a dataObject from the EOL data_objects or pages API -->
<script id="detail_image_tmpl" type="x-jquery-tmpl">
	{{if eolMediaURL}}
		<figure>
			<div class=image>
				<img src='${eolMediaURL}'/>
			</div>
			<figcaption>
				${title}</br>
				{{if agents && agents[0]}}
					${agents[0].role}: ${agents[0].full_name}
				{{/if}}
			</figcaption>
		</figure>
	{{/if}}
</script>

<!-- Takes a dataObject from the EOL data_objects or pages API -->
<script id="detail_description_tmpl" type="x-jquery-tmpl">
	{{if description}}
		<div class='description'>
			<h2>${title}</h2>
			<div>{{html description}}</div>
		</div>
	{{/if}}
</script>

<!-- Takes a hierarchy_entries API response -->
<script id="statistics_tmpl" type="x-jquery-tmpl">
	<div class='panel' id='statistics'>
		<p class='help'>Move the mouse pointer over a taxon in the left panel to see what 
		content the EOL has for that clade.</p>
		<ul>
			<li>descendants: ${total_descendants}</li>
			<ul>
				<li>descendants with text: ${total_descendants_with_text}</li>
				<li>descendants with images: ${total_descendants_with_images}</li>
			</ul>
			<li>text</li>
			<ul>
				<li>trusted text: ${total_trusted_text}</li>
				<li>unreviewed text: ${total_unreviewed_text}</li>
			</ul>
			<li>images</li>
			<ul>
				<li>trusted images: ${total_trusted_images}</li>
				<li>unreviewed images:${total_unreviewed_images}</li>
			</ul>
		</ul>
	</div>
</script>


<script id="search_tmpl" type="x-jquery-tmpl">
	<div class='panel' id='search'>
		<p>Enter a common or scientific name in the box below to search.</p>
		<form onsubmit="return false;">
			Name: <input type='text' name='query'/>
		</form>

		{{if results}}
			<div id='search-results'>
				{{if (results.length === 0)}}
					<h3>No matches found</h3>
				{{else}}
					{{tmpl($data) '#search_results_tmpl'}}
				{{/if}}
			</div>
		{{/if}}
	</div>		
</script>

<script id="search_results_tmpl" type="x-jquery-tmpl">
	{{tmpl($data) '#search_nav_tmpl'}}
	<ul class='result-page'>
		{{tmpl(results) '#search_result_tmpl'}}
	</ul>
</script>

<script id="search_nav_tmpl" type="x-jquery-tmpl">
	<div class='search-nav'>
		{{if previous}}<a class='search-prev' href=${previous}>prev</span> {{/if}}
		
		${startIndex} to ${startIndex + results.length - 1} of ${totalResults} results
		
		{{if next}}<span class='search-next' href=${next}>next</span>{{/if}}
	</div>
</script>

<script id="search_result_tmpl" type="x-jquery-tmpl">
	<li class='result'>${page.scientificName}
		{{if page.taxonConcepts[0]}}
			<ul>
				{{tmpl(page.taxonConcepts) '#search_result_link_tmpl'}}
			</ul>
		{{/if}}
	</li>
</script>

<script id="search_result_link_tmpl" type="x-jquery-tmpl">
	<li><a>${nameAccordingTo}</a></li>
</script>

<script id="options_tmpl" type="x-jquery-tmpl">
	<div class='panel' id='options'></div>
</script>

<script id="help_tmpl" type="x-jquery-tmpl">
	<div class='panel' id='help'></div>
</script>

<script>
	(function () {
		var api = new EolApi(),
			language = "en",
			helper = new EolTemplateHelper(), //TODO get the current helper from vole
			selectionFrozen = false;

		//tab click handler - changes displayed panel
		jQuery("#right .tab").live("click", function tabClick() {
			jQuery("#right .tab").removeClass("selected");
			jQuery(this).addClass("selected");
			jQuery("#right div.panel").hide().filter(this.hash).show();
			return false;
		});

		//holding F prevents selection update
		jQuery(document).keydown(function (eventObject) {
			if (eventObject.keyCode === 70) {
				selectionFrozen = true;
			}
		});

		jQuery(document).keyup(function (eventObject) {
			if (eventObject.keyCode === 70) {
				selectionFrozen = false;
			}
		});

		//node hover handler - updates details and statistics panels
		//TODO refactor this into a custom selection event handler, so it could be used by other kinds of views
		jQuery(".selectable")
			.live("mouseover", function() {
				if (!selectionFrozen) {
					var tmplItem = jQuery(this).tmplItem(), //the template item for the hovered node
						taxonConceptID = tmplItem.data.taxonConceptID, //TODO for other tree sources, will need to do an EOL search to get the matching taxonConceptID
						statistics;

					jQuery(".selectable").removeClass("selected").filter(this).addClass("selected");
					jQuery(this).parents("div.node").addClass("selected");
	
					//update statistics panel
					statistics = jQuery("#statistics_tmpl").tmpl(tmplItem.data);
					jQuery("#statistics").empty().append(statistics.contents());
						
					//put a 'loading' image in the details panel in case we have to wait for the api
					image = jQuery("<img src='images/ajax-loader.gif'>");
					jQuery("#detail").empty().append(image);
						
					api.pages(taxonConceptID).done(function(page) {
						var details = jQuery("#detail_tmpl").tmpl(page, helper);
						jQuery("#detail").empty().append(details.contents());
					});
				}
				
				return false;
			})
			.live("mouseout", function() {
				if (!selectionFrozen) {
					jQuery(this).removeClass("selected");
				}
			});

		jQuery("#search form").live('submit', function () {
			var query = jQuery("#search input").val();

			//put a 'loading' image in the details panel while we have to wait for the api
			image = jQuery("<img src='images/ajax-loader.gif'>").height(18);
			jQuery("#search form input").after(image);
			
			api.searchPages(query, {page:1}, function (response) {
				var results = jQuery("#search_tmpl").tmpl(response),
					rootClassificationName = vole.getDisplayRootData().nameAccordingTo[0];

				//decorate the same-classification results a bit
				results.find("li.result a").each(function () {
					var taxonConcept = jQuery(this).tmplItem().data,
						anchor = jQuery(this);

					if (taxonConcept.nameAccordingTo === rootClassificationName) {
						anchor.addClass('same-classification');
					}

					anchor.click(function() {
						vole.view(taxonConcept.identifier);
						return false;
					});
				});

				results.find(".result-page").before("<p>Results in the current EOL provider hierarchy are displayed <a class='same-classification'>like this</a>.</p>");
				
				jQuery("#search").empty().append(results.contents());
			});
		});
	})();
</script>

